<div data-theme="a">
 <% if !current_user %>
<div data-role="header"  data-theme="a">   
		<h1>Log In</h1>
	</div>  
<br>
<br>

<%= form_tag sessions_path do  %>
  <p  class="field">
   <b> <%= label_tag :Username %></b>
    <%= text_field_tag :name, params[:name] %>
  </p>
  <p  class="field">
   <b> <%= label_tag :Password %></b>
    <%= password_field_tag :password %>
  </p>
  <br>

  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>

<% else %>
<div data-role="header"  data-theme="a">   
		<h1>Log In</h1>
	</div>  
<br>
<br>


<%= form_tag sessions_path do  %>
  <p  class="field">
   <b> <%= label_tag :Username %></b>
    <%= text_field_tag :name, current_user.name %>
  </p>
  <p  class="field">
   <b> <%= label_tag :Password %></b>
    <%= password_field_tag :password , current_user.password%>
  </p>
  <br>

  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>

<% end %>
</div>
